*{ 
    margin: 0px;
    font-family: 'inter';
}
#logo {
    margin-left: 50px;
    margin-top: 50px;
}
#titulo-menusuperior { 
    margin-top: 50px;
    margin-left: 150px;
} 
#texto-menusuperior {
    margin-top: 35px;
    margin-left: 150px;
    padding-bottom: 100px;
}
#menu-superior {
    background-image: url(imagens/fundo-menusuperior.svg);
    color: cornsilk;   
}
#menuinformacional { 
    background-color: rgb(244, 252, 252);
    display:grid;
    grid-auto-flow: column;
}
.icone { 
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 25px;
}
#secaovideo {
    display: grid;
    grid-auto-flow: column;
    columns:auto;
}
.texto-informativo {
    display:flex;
    align-items: center;
} 
#titulovideo {
    color: #247BA0;
    margin-top: 50px;
}
#video { 
    margin: 50px 25px 50px 100px
}
#carrossel{
    background-color: #247BA0;
    padding: 50px;
}
#titulo-carrossel{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
}
#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}
.card{
    margin-left: 50px;
}
#setaesquerda{
    display: none;
}
#Bruna{
    display: none;
} 
.seta{
    margin-top:55%;
    cursor: pointer;
}
.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.4s;
}
#formulario{
    background-color: floralwhite;
    text-align: center;

} 
#tituloFormulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}
input{
    height: 40px;
    width: 300px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}
button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color: #247BA0 ;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #083a50 ;
    transition-duration: 0.5s;
}